{% extends "email_base.html" %}
{% import "email_macros.html" as ui %}

{% block title %}New subscription{% endblock %}
{% block intro %}
<p style="margin:0;">A user created a new stock subscription on Flowdeck.</p>
{% endblock %}
{% block content %}
{% call ui.panel(title='Subscription details') %}
  {{ ui.key_value('User', user_email, 'mailto:' ~ user_email) }}
  {{ ui.key_value('Ticker', ticker) }}
{% endcall %}
{% endblock %}
{% block actions %}
{{ ui.button(dashboard_url, 'Open Flowdeck') }}
{{ ui.link_block(dashboard_url, 'Open in browser', 'If the button above does not work, open the dashboard with', 'this browser link') }}
{% endblock %}
{% block footer_message %}Admin notification from <strong style="color:#334155;">Flowdeck</strong>.{% endblock %}
